@import "../stylesheets/CSS_Variables.css";

.main-container {
    display: flex;
    /*height: 100vh;*/
}

.main-left-pane {
    background-color: blue;
    /*height: 100vh;*/
    width: var(--left-pane-sizing);
}

