:root {
    --color-theme-main: #1c1f27;
    --color-theme-secondary: #303439;
    --color-theme-tertiary: #1d75fd;
    --default-font-color: #686d73;
    --active-font-color: white;

    --menu-item-width: 90%;
}

.main-menu-container {
    background-color: var(--color-theme-main);
    color: var(--default-font-color);
    text-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

.sub-menu-container {
    width: 100%;
}

.primary-button {
    width: var(--menu-item-width);
    background-color: var(--color-theme-main);
    height: 2rem;
    border-radius: 10px;
    color: var(--default-font-color);
    /*text-align: left;*/
    border: none;
    padding: 0 1rem;
}

.primary-button:hover {
    color: var(--active-font-color);
    background-color: var(--color-theme-secondary);
}

.secondary-button {
    width: var(--menu-item-width);
    height: 2rem;
    border-radius: 10px;
    border: none;
    padding: 0 1rem;
    margin-top: 3px;
}

.secondary-button:hover {
    color: var(--active-font-color);
    background-color: var(--color-theme-tertiary);
}

/*latitude and longitude info*/
.latlon {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
}

.ll-to-bottom {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    align-items: center;
}

/*spacer related*/
.spacer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme-main);
    height: 0.5rem;
    width: var(--menu-item-width);
}

.inner-spacer {
    background-color: var(--default-font-color);
    height: 0.1rem;
    width: 100%;
}

